.table {
    width: 100%; /* Use full width */
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px; /* Round edges for the entire table */
    overflow: hidden; /* Ensure the rounding is visible */
    table-layout: auto; /* Use automatic table layout for responsiveness */
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid var(--border); /* Use the defined border color */
}

/* Rounded corners */
.table th:first-child {
    border-top-left-radius: 8px; /* Top left */
}

.table th:last-child {
    border-top-right-radius: 8px; /* Top right */
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 8px; /* Bottom left */
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 8px; /* Bottom right */
}

.table th {
    background-color: var(--primary); /* Keep using your global color */
    color: var(--text);
}

.table tr:nth-child(even) {
    background-color: var(--card-bg); /* Alternate row color */
}

.table tr:hover {
    background-color: var(--hover-bg); /* Hover effect for rows */
}

.table td {
    color: var(--text);
}

.table tr:hover td {
    color: var(--primary); /* Change text color on hover */
}

.filterInput {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--border);
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    margin-right: 10px; /* Add spacing to the right */
    background: var(--hover-bg);
}

.sortDropdown {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 4px;
    max-width: 150px;
    background: var(--hover-bg);
    height: fit-content;
}

.controls {
    display: flex;
    justify-content: flex-end; /* Align to the right */
    margin-bottom: 20px; /* Add space below controls */
}

.pagination {
    display: flex;
    justify-content: center; /* Center pagination */
    margin-top: 20px;
    align-items: center;
}

.pageButton {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--text);
    cursor: pointer;
    margin-right: 10px;
}

.pageButton:disabled {
    background-color: rgba(222, 158, 72, 0.5);
    cursor: not-allowed;
}

.pageNumber {
    margin-right: 10px;
}

.options {
    background-color: var(--primary);
}

.submitButton {
    background-color: var(--primary);
    color: var(--text);
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: var(--primary-hover);
  }

  .tableContainer {
    display: flex;
    flex-direction: column;
}

.mobileTable {
    display: none; /* Hide mobile view by default */
}


@media (max-width: 768px) {
    .table {
        display: none; /* Hide the desktop table on mobile */
    }

    .mobileTable {
        display: block; /* Show mobile view */
        border: 1px solid var(--border);
        overflow: hidden;
        border-radius: 5px 5px 0 0;
    }

    .mobileRow {
        border-bottom: 1px solid var(--border);
        padding: 10px;
    }

    .mobileRow:nth-child(even){
        background-color: var(--card-bg);
    }

    .mobileRow h4 {
        margin: 0;
    }

    .mobileAddress {
        font-size: 14px;
        margin-bottom: 5px; /* Add space below address */
    }

    .mobileInfoContainer {
        display: flex; /* Use Flexbox for side-by-side layout */
        justify-content: space-between; /* Space out the email and date */
        align-items: center; /* Center align items vertically */
    }

    .mobileEmail {
        font-size: 10px;
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Add ellipsis for overflowing text */
        white-space: nowrap; /* Prevent wrapping */
        flex: 1; /* Allow email to grow/shrink */
    }

    .mobileDate {
        font-size: 10px;
        text-align: right; /* Align date to the right */
        margin-left: 10px; /* Space between email and date */
    }

    .mobileInfo {
        flex: 1;
    }
    
    .mobileRole {
        margin: 0;
    }

    .mobileP {
        font-size: 14px;
    }

    .viewIcon {
        cursor: pointer;
        color: var(--primary);
    }
}
